    html {
      --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
      --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
      --lumo-border-radius-l: var(--lumo-size-m);
      --lumo-base-color: #e0dcdc;

    }

    [theme~="dark"] {
      --lumo-base-color: hsl(234, 40%, 9%);

    }

vaadin-message-list {
    display: flex;
    flex-direction: column-reverse; /* This ensures the messages appear from bottom to top */
}

.from-self{
    display: flex;
    justify-self: flex-end;
}
[part="content"] > vaadin-message.from-self.div{
    display:none;
   }
.from-other{
    display: flex;
    justify-self: flex-start;
}